@import "compass/css3";

.btn-arrow {
	background-color: white;
	position: relative;
	@include border-radius(50%);
	@include opacity(0.9);

	&:before {
		content:"";
		position: absolute;
		width: 13px;
		height: 13px;
		border-top:2px solid red;
		border-right:2px solid red;
	};

	&:hover, &.is-active {
		@include opacity(1);
	}

	&.is-disabled {
        cursor: default;
		@include opacity(0.3);
	}
}

.btn-arrow.arrow-left:before {
	transform: rotate(-135deg);
	top: 15px;
    left: 17px;
}

.btn-arrow.arrow-right:before {
	transform: rotate(45deg);
	top: 15px;
    left: 11px;
}