@import "compass/reset";
@import "compass/css3";
@import "color";
@import "arrow";

html {
    width: 100%;
    height: 100%;
    font-size: 100%;
}

body {
    background: darken($bg, 25%);
    width: 100%;
    height: 100%;
}

#app-wrap {
    position: relative;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: $bg;
    background-image: linear-gradient(-1deg, rgba(237,63,149,0.87) 0%, rgba(216,13,121,0.90) 85%);
    @include box-sizing(border-box);
}
    
    .scroll-wrap {
        padding: 20px 0;
        height: 15%;
    }

    .control-wrap {
        display: flex;
        flex-direction: row;
        align-items: baseline;

        & .touchcarousel-container {
            flex:1;
        }

        & .item {
            width: 100%;
            text-align: center;
        }
    }
    
    .header {
        padding-top: 10px;
        height: 20%;
    }

    .footer {
        padding: 1.250em;
        left: 0;
        bottom: 0px;
        position: absolute;
        width: 100%;
        @include box-sizing(border-box);
    }

    .btn {
        width: 44px;
        height: 44px;
        display: inline-block;
        text-decoration: none;
    }

    .btn-full {
        width: 100%;
        height: 55px;
        border:2px solid $white;
        color:$white;
        text-align: center;
        line-height: 2.2em;
        font-size: 1.5em;
        letter-spacing: -1px;
        text-transform: uppercase;
        @include box-sizing(border-box);
        @include border-radius(45px);

        &:hover {
            color: $bg;
            background-color: $white;
        };
    }

    li.item {
        font-size: 3.125em;
        font-family: AppleGothic;
        color: $white;
    }

    i.time {
        margin: 0 auto;
        display: block;
        text-indent: -9999px;
        width: 120px;
        height: 120px;
        background: url(../img/time.png);
        background-size: 120px;
        @include opacity(0.3);
    }

    h1 {
        display: none;
        position: absolute;
    }

    h2 {
        font-family: AppleGothic,"微軟正黑體";
        font-size: 0.875em;
        line-height: 1.5rem;
        color:$white;
        text-transform: uppercase;
    }

@import "mediaQuery";