@import "compass/reset";
@import "compass/css3";

//common
@import "global_color";
@import "circle_arrow";

//media query mixin
@import "media_query";

html {
    width: 100%;
    height: 100%;
    font-size: 100%;
}

body {
    background: darken($bg, 25%);
    width: 100%;
    height: 100%;
}
#root, #root > div {
    height: 100%;
}
#app-wrap {
    position: relative;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: $bg;
    background-image: linear-gradient(-1deg, rgba(237,63,149,0.87) 0%, rgba(216,13,121,0.90) 85%);
    @include box-sizing(border-box);

    @include for-size(iphone6-only) {
        padding: 30px;
    }
}
    .container {
        @include for-size(phone-only) {
            max-width: 100%;
        }
        @include for-size(tablet-portrait-up) {
            top: 50%;
            max-width: 320px;
            max-height: 600px;
            margin-top: -300px !important ; 
        }
    }

    .scroll-wrap {
        padding: 20px 0;
        height: 22%;
        @include box-sizing(border-box);
    }

    .control-wrap {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        
        @include for-size(phone-only) {
            align-items: stretch;
        }
        @include for-size(tablet-portrait-up) {
            align-items: stretch;
        }
        
        & .touchcarousel-container {
            flex:1;
        }

        & .item {
            width: 100%;
            text-align: center;
        }
    }
    
    .header {
        padding-top: 10px;
        height: 22%;
        @include box-sizing(border-box);
    }

    .footer {
        width: 100%;
        @include box-sizing(border-box);
        @include for-size(iphone6-only) {
            padding-top: 20px;
        }
    }

    .btn {
        width: 44px;
        height: 44px;
        display: inline-block;
        text-decoration: none;
        
        &.btn-arrow:before {
            border-top:2px solid $bg;
            border-right:2px solid $bg;
        }
        
        @include for-size(iphone6-only) {
            @include scale(1.2);
            &.arrow-left {
                @include transform-origin(left,top);
            }
            &.arrow-right {
                @include transform-origin(right,top);
            }
        }
    }

    .btn-full {
        width: 100%;
        height: 54px;
        border:2px solid $white;
        color:$white;
        text-align: center;
        font-size: 1.5em;
        letter-spacing: -1px;
        text-transform: uppercase;
        @include box-sizing(border-box);
        @include border-radius(45px);

        &.is-active {
            color: $bg;
            background-color: $white;
        };

        @include for-size(iphone6-only) {
            @include scale(1);
        }

        span {
            display: inline-block;
            position: relative;
            top: 50%;
            margin-top: -0.5em;
        }
    }

    li.item {
        font-size: 3em;
        font-family: AppleGothic;
        color: $white;

        @include for-size(phone-only) {
            font-size: 2.75em;
        }
        @include for-size(tablet-portrait-up) {
            font-size: 2.85em;
        }
    }

    i.time {
        margin: 0 auto;
        display: block;
        text-indent: -9999px;
        width: 120px;
        height: 120px;
        background: url(../img/time.png);
        background-size: 120px;
        @include opacity(0.3);
    }

    h1 {
        display: none;
        position: absolute;
    }

    h2 {
        font-family: AppleGothic,"微軟正黑體";
        font-size: 0.875em;
        line-height: 1.5rem;
        color:$white;
        text-transform: uppercase;
    }