@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* arrow scss */
.btn-arrow {
  background-color: white;
  position: relative;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
.btn-arrow:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-top: 2px solid #cc458d;
  border-right: 2px solid #cc458d;
}
.btn-arrow:hover, .btn-arrow.is-active {
  transform: scale(1.2);
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.btn-arrow.is-disabled {
  cursor: default;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
.btn-arrow.is-disabled:hover {
  transform: scale(1);
}

.btn-arrow.arrow-left:before {
  transform: rotate(-135deg);
  top: 13px;
  left: 15px;
}

.btn-arrow.arrow-right:before {
  transform: rotate(45deg);
  top: 13px;
  left: 10px;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background: #721f4c;
}

#app-wrap {
  padding: 20px;
  margin: 30px auto;
  width: auto;
  max-width: 320px;
  background-color: #cc458d;
  background: -webkit-linear-gradient(to bottom, #cc3083, #cc458d);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #cc3083, #cc458d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.scroll-wrap {
  padding: 20px 0;
}

.control-wrap {
  display: flex;
  flex-direction: row;
}
.control-wrap .btn {
  margin-top: 3px;
}
.control-wrap .touchcarousel-container {
  flex: 1;
}
.control-wrap .item {
  width: 100%;
  text-align: center;
}

.header {
  margin-top: 30px;
}

.footer {
  margin-top: 30px;
}

.btn {
  width: 44px;
  height: 44px;
  display: inline-block;
  text-decoration: none;
}

.btn-full {
  width: 100%;
  height: 55px;
  border: 2px solid white;
  color: white;
  text-align: center;
  line-height: 55px;
  font-size: 24px;
  letter-spacing: -1px;
  text-transform: uppercase;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 45px;
  -webkit-border-radius: 45px;
  border-radius: 45px;
}
.btn-full:hover {
  color: #cc458d;
  background-color: white;
}

li.item {
  font-size: 50px;
  font-family: century gothic;
  color: white;
}

i.time {
  margin: 0 auto;
  display: block;
  text-indent: -9999px;
  width: 120px;
  height: 120px;
  background: url(../img/time.png);
  background-size: 120px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}

h1 {
  text-indent: -1000px;
  position: absolute;
}

h2 {
  font-family: verdana,"微軟正黑體";
  font-size: 14px;
  line-height: 24px;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
}
