@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* arrow scss */
.btn-arrow {
  background-color: white;
  position: relative;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
.btn-arrow:before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  border-top: 2px solid #ED3F95;
  border-right: 2px solid #ED3F95;
}
.btn-arrow:hover, .btn-arrow.is-active {
  transform: scale(1.2);
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.btn-arrow.is-disabled {
  cursor: default;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
.btn-arrow.is-disabled:hover {
  transform: scale(1);
}

.btn-arrow.arrow-left:before {
  transform: rotate(-135deg);
  top: 15px;
  left: 17px;
}

.btn-arrow.arrow-right:before {
  transform: rotate(45deg);
  top: 15px;
  left: 11px;
}

html {
  width: 100%;
  height: 100%;
  font-size: 100%;
}

body {
  background: #9e0f55;
  width: 100%;
  height: 100%;
}

#app-wrap {
  position: relative;
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: #ED3F95;
  background-image: linear-gradient(-1deg, rgba(237, 63, 149, 0.87) 0%, rgba(216, 13, 121, 0.9) 85%);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 375px) and (max-width: 599px) {
  #app-wrap {
    padding: 30px;
  }
}

@media (max-width: 374px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 600px) {
  .container {
    max-width: 320px;
    max-height: 600px;
    top: 50%;
    margin-top: -300px !important;
  }
}

.scroll-wrap {
  padding: 20px 0;
  height: 22%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.control-wrap {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
@media (max-width: 374px) {
  .control-wrap {
    align-items: stretch;
  }
}
@media (min-width: 600px) {
  .control-wrap {
    align-items: stretch;
  }
}
.control-wrap .touchcarousel-container {
  flex: 1;
}
.control-wrap .item {
  width: 100%;
  text-align: center;
}

.header {
  padding-top: 10px;
  height: 22%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.footer {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 375px) and (max-width: 599px) {
  .footer {
    padding-top: 20px;
  }
}

.btn {
  width: 44px;
  height: 44px;
  display: inline-block;
  text-decoration: none;
}
@media (min-width: 375px) and (max-width: 599px) {
  .btn {
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  .btn.arrow-left {
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
  }
  .btn.arrow-right {
    -moz-transform-origin: right top;
    -ms-transform-origin: right top;
    -webkit-transform-origin: right top;
    transform-origin: right top;
  }
}

.btn-full {
  width: 100%;
  height: 55px;
  border: 2px solid white;
  color: white;
  text-align: center;
  line-height: 2.2em;
  font-size: 1.5em;
  letter-spacing: -1px;
  text-transform: uppercase;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 45px;
  -webkit-border-radius: 45px;
  border-radius: 45px;
}
.btn-full:hover {
  color: #ED3F95;
  background-color: white;
}
@media (min-width: 375px) and (max-width: 599px) {
  .btn-full {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

li.item {
  font-size: 3.125em;
  font-family: AppleGothic;
  color: white;
}
@media (max-width: 374px) {
  li.item {
    font-size: 2.75em;
  }
}
@media (min-width: 600px) {
  li.item {
    font-size: 2.85em;
  }
}

i.time {
  margin: 0 auto;
  display: block;
  text-indent: -9999px;
  width: 120px;
  height: 120px;
  background: url(../img/time.png);
  background-size: 120px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}

h1 {
  display: none;
  position: absolute;
}

h2 {
  font-family: AppleGothic,"微軟正黑體";
  font-size: 0.875em;
  line-height: 1.5rem;
  color: white;
  text-transform: uppercase;
}
